<h4>카테고리 {{subTitle}}</h4>
<form (ngSubmit)="submit()" [formGroup]="categoryForm" novalidate>
	<div class="container-fluid p-2 rounded">
		<div class="row my-4">
			<div class="col-12">
				<div class="input-group">
					<span class="input-group-addon">번호</span>
					<input type="number" class="form-control" formControlName="no" readonly/>
				</div>
			</div>
		</div>
		<div class="row my-4">
			<div class="col-12">
				<div class="input-group">
					<span class="input-group-addon">카테고리 명</span>
					<input type="text" class="form-control" formControlName="name"/>
				</div>
			</div>
		</div>
		<div class="row my-4">
			<div class="col-12">
				<div class="input-group">
					<textarea class="form-control" rows="4" placeholder="상품 상세 설명" formControlName="desc"></textarea>
				</div>
			</div>
		</div>
		<div class="row my-4">
			<div class="col-12">
				<label class="mr-3">사용여부:</label>
				<label class="custom-control custom-radio">
					<input type="radio" formControlName="isUse" class="custom-control-input" [value]="true">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">사용</span>
				</label>
				<label class="custom-control custom-radio">
					<input type="radio" formControlName="isUse" class="custom-control-input" [value]="false">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">사용 안 함</span>
				</label>
			</div>
		</div>
		<div class="row my-4">
			<div class="col-12">
				<div class="input-group">
					<span class="input-group-addon">생성일</span>
					<input type="text" class="form-control" formControlName="createdTime" readonly/>
				</div>
			</div>
		</div>
		<div class="row my-4" *ngIf="actionMode !== 'create'">
			<div class="col-12">
				<div class="input-group">
					<span class="input-group-addon">수정일</span>
					<input type="text" class="form-control" formControlName="updatedTime" readonly/>
				</div>
			</div>
		</div>
		<div class="row my-4">
			<div class="col-12 text-right">
				<button type="submit" class="btn btn-info btn-sm mr-2" [disabled]="!categoryForm.valid">
					<i class="fa fa-check"></i> 저장
				</button>
				<button type="reset" class="btn btn-info btn-sm mr-2">
					<i class="fa fa-trash"></i> 초기화
				</button>
				<button type="button" class="btn btn-warning btn-sm" (click)="cancel()">
					<i class="fa fa-times"></i> 돌아가기
				</button>
			</div>
		</div>
	</div>
</form>
