<nav class="col-2 bg-faded sidebar">
	<ul class="nav nav-pills flex-column">
		<li class="nav-item">
			<a class="nav-link" routerLink="/product-list" routerLinkActive="active">
				<i class="fa fa-list-ul"></i>상품 관리</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/category-list" routerLinkActive="active">
				<i class="fa fa-hashtag"></i>카테고리 관리</a>
		</li>
	</ul>
</nav>
