<scm-navbar></scm-navbar>
<div class="container-fluid">
	<div class="row">
		<scm-sidebar (changedMenu)="currentMenu = $event"></scm-sidebar>
		<main class="col-10 offset-2 pt-3">
			<router-outlet></router-outlet>
		</main>
	</div>
</div>
<scm-footer></scm-footer>
