input.ng-valid:not([readonly]), textarea.ng-valid:not([readonly]),
select.ng-valid:not([readonly]) {
    border-bottom: 2px solid lightgreen;
}

input.ng-invalid:not(form), textarea.ng-valid:not(form), select.ng-valid:not(form) {
    border-bottom: 2px solid lightsalmon;
}